#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
if ! type brew > /dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew install chezmoi
brew install mas

brew install --cask 1password

mas install 1475387142 # Tailscale
{{ end -}}
