#!/usr/bin/env zsh
# Post-init configuration script for Linux systems. This script is intended to be run as part of the Chezmoi configuration management process.

# Set the user's default shell to zsh if it is not already set. The current SHELL might be out of date, so we check the user's shell in /etc/passwd instead.
if [ "$(getent passwd $USER | cut -d: -f7)" != "/usr/bin/zsh" ]; then
    echo "Changing default shell to zsh for user $USER"
    chsh -s /usr/bin/zsh $USER
fi

# Configure mise
export MISE_VERSION={{ .versions.mise.value }}
if ! command -v mise >/dev/null 2>&1 || [[ "$(mise --version)" != "$MISE_VERSION" ]]; then
    echo "Installing mise version $MISE_VERSION"
    curl "https://mise.run" | sh
fi
