{{- $role := promptChoiceOnce . "role" "machine role" (list "workstation" "server" "devenv") -}}
{{- $realm := promptChoiceOnce . "realm" "machine realm" (list "home" "work") -}}
[data]
role = {{ $role | quote }}
realm = {{ $realm | quote }}
machineName = {{ promptStringOnce . "machine" "machine name" | quote }}

[data.user]
name = {{ promptStringOnce . "user" "your full name" | quote }}
email = {{ promptStringOnce . "email" "your email address (primarily for Git commits)" | quote }}