{{- $role := promptChoiceOnce . "role" "machine role" (list "workstation" "server" "devenv") -}}
{{- $realm := promptChoiceOnce . "realm" "machine realm" (list "home" "work") -}}
{{- $machine := promptStringOnce . "machineName" "machine name" -}}
{{- $user := promptStringOnce .user "name" "your full name" }}
{{- $userEmail := promptStringOnce .user "email" "your email address (primarily for Git commits)" -}}
[data]
role = {{ $role | quote }}
realm = {{ $realm | quote }}
machineName = {{ $machine | quote }}

[data.user]
name = {{ $user | quote }}
email = {{ $userEmail | quote }}

[data.env]
{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
wsl = true
{{- else }}
wsl = false
{{- end }}