[submodule "vim.symlink/bundle/vim-pathogen"]
	path = vim.symlink/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim.symlink/bundle/vim-colors-solarized"]
	path = vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim.symlink/bundle/nerdtree"]
	path = vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim.symlink/bundle/vim-nerdtree-tabs"]
	path = vim.symlink/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim.symlink/bundle/omnisharp-vim"]
	path = vim.symlink/bundle/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule "vim.symlink/bundle/vim-dispatch"]
	path = vim.symlink/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim.symlink/bundle/ctrlp.vim"]
	path = vim.symlink/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim.symlink/bundle/syntastic"]
	path = vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim.symlink/bundle/rust.vim"]
	path = vim.symlink/bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim
