[submodule "vim.symlink/bundle/nerdtree"]
	path = vim.symlink/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim.symlink/bundle/vim-airline.git"]
	path = vim.symlink/bundle/vim-airline.git
	url = git@github.com:vim-airline/vim-airline.git
