#!/bin/bash

export NIXPKGS_ALLOW_UNFREE=1

if ! type nix-env > /dev/null; then
    sh <(curl -L https://nixos.org/nix/install)
    [ -e /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh ] && . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
fi

{{ if eq .chezmoi.os "darwin" -}}
if ! type brew > /dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{ end -}}

nix-env -iA nixpkgs.chezmoi
nix-env -iA nixpkgs.direnv
nix-env -iA nixpkgs.fzf
nix-env -iA nixpkgs.gh
nix-env -iA nixpkgs.gnupg
nix-env -iA nixpkgs.jq
nix-env -iA nixpkgs.kubectl
nix-env -iA nixpkgs.k9s
nix-env -iA nixpkgs.lazygit
nix-env -iA nixpkgs.python3
nix-env -iA nixpkgs.starship
nix-env -iA nixpkgs.tmux
nix-env -iA nixpkgs.yarn
nix-env -iA nixpkgs.vagrant

{{ if eq .chezmoi.os "darwin" -}}
nix-env -iA nixpkgs.pinentry_mac
nix-env -iA nixpkgs.mas

brew install --cask 1password

mas install 1475387142 # Tailscale

{{ end -}}