{
  "enabled": true,
  "public_key": "{{ onepasswordRead "op://Fleet/LangfuseAPI/public-key" }}",
  "secret_key": "{{ onepasswordRead "op://Fleet/LangfuseAPI/secret-key" }}",
  "base_url": "https://us.cloud.langfuse.com"
}