[user]
	name = {{ .user.name | quote }}
	email = {{ .user.email | quote }}
{{- if .keys.git.signing }}
  signingkey = {{ .keys.git.signing | quote }}
{{- end }}

{{- if .keys.git.signing }}
[gpg]
  format = ssh

[commit]
  gpgsign = true
{{- end }}

{{- if eq .chezmoi.os "windows" }}
[gpg "ssh"]
  program = "{{ .chezmoi.homeDir }}/AppData/Local/Microsoft/WindowsApps/op-ssh-sign.exe"
[core]
  sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
{{- end }}

{{- if .env.wsl }}
[gpg "ssh"]
  program = "/mnt/c/Users/ashleyst/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe"
[core]
  sshCommand = "ssh.exe"
{{- end }}